<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taick Flix | Cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Cadastrar</button>
    </form>
    <p>Já possui uma conta?</a>
    <a href="{% url 'Login' %}">Entrar</a>
</body>
</html>
