{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaickFlix | Login</title>
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <script src="{% static 'js/form.js' %}" defer></script>
</head>
<body>
    <h1>Entrar</h1>
    <div class="caixa-login">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="campo">
                    {{ field }}
                    {{ field.label_tag }}
                </div>
                {% for error in field.errors %}
                    <p class="msg-erro">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <button type="submit">Entrar</button>
            <p>Ainda não possui uma conta? clique <a href="{% url 'Cadastro' %}">aqui</a> para se cadastrar</p>
        </form>
    </div>
</body>
</html>
